osgp-adapter-ws-controllableload/src/main/webapp/WEB-INF/wsdl/controllableload/AdHocManagement.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Platform version: ${display.version} -->

<wsdl:definitions 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"   
    xmlns:ahman="http://www.alliander.com/schemas/osgp/controllableload/adhocmanagement/2016/04"
    xmlns:common="http://www.alliander.com/schemas/osgp/common/2014/10" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://www.alliander.com/definitions/osgp/controllableload/adhocmanagement-v1.0"
    targetNamespace="http://www.alliander.com/definitions/osgp/controllableload/adhocmanagement-v1.0">
        
    <wsdl:types>
        <xsd:schema 
            targetNamespace="http://www.alliander.com/definitions/osgp/controllableload/adhocmanagement/imports" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            
            <xsd:import 
                namespace="http://www.alliander.com/schemas/osgp/controllableload/adhocmanagement/2016/04" 
                schemaLocation="schemas/adhocmanagement.xsd" /> 
        </xsd:schema>
    </wsdl:types>
         
    <wsdl:message name="FindAllDevicesHeader">
        <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />     
        <wsdl:part element="common:UserName" name="UserName" />
        <wsdl:part element="common:ApplicationName" name="ApplicationName" />
    </wsdl:message>
    <wsdl:message name="FindAllDevicesRequest">
        <wsdl:part element="ahman:FindAllDevicesRequest" name="FindAllDevicesRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="FindAllDevicesResponse">
        <wsdl:part element="ahman:FindAllDevicesResponse" name="FindAllDevicesResponse">
        </wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="SwitchDeviceHeader">
        <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />     
        <wsdl:part element="common:UserName" name="UserName" />
        <wsdl:part element="common:ApplicationName" name="ApplicationName" />
    </wsdl:message>
    <wsdl:message name="SwitchDeviceRequest">
        <wsdl:part element="ahman:SwitchDeviceRequest" name="SwitchDeviceRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SwitchDeviceAsyncResponse">
        <wsdl:part element="ahman:SwitchDeviceAsyncResponse" name="SwitchDeviceAsyncResponse">
        </wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="SwitchDeviceAsyncHeader">
        <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />     
        <wsdl:part element="common:UserName" name="UserName" />
        <wsdl:part element="common:ApplicationName" name="ApplicationName" />
    </wsdl:message>
    <wsdl:message name="SwitchDeviceAsyncRequest">
        <wsdl:part element="ahman:SwitchDeviceAsyncRequest" name="SwitchDeviceAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SwitchDeviceResponse">
        <wsdl:part element="ahman:SwitchDeviceResponse" name="SwitchDeviceResponse">
        </wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="GetStatusHeader">
        <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />     
        <wsdl:part element="common:UserName" name="UserName" />
        <wsdl:part element="common:ApplicationName" name="ApplicationName" />
    </wsdl:message>
    <wsdl:message name="GetStatusRequest">
        <wsdl:part element="ahman:GetStatusRequest"
            name="GetStatusRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetStatusAsyncResponse">
        <wsdl:part element="ahman:GetStatusAsyncResponse" name="GetStatusAsyncResponse">
        </wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="GetStatusAsyncHeader">
        <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />
        <wsdl:part element="common:UserName" name="UserName" />
        <wsdl:part element="common:ApplicationName" name="ApplicationName" />
    </wsdl:message>
    <wsdl:message name="GetStatusAsyncRequest">
        <wsdl:part element="ahman:GetStatusAsyncRequest" name="GetStatusAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetStatusResponse">
        <wsdl:part element="ahman:GetStatusResponse"
            name="GetStatusResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="ControllableLoadAdHocManagementPort">
        <wsdl:operation name="FindAllDevices">
            <wsdl:input message="tns:FindAllDevicesRequest" name="FindAllDevicesRequest">
            </wsdl:input>
            <wsdl:output message="tns:FindAllDevicesResponse" name="FindAllDevicesResponse">
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="SwitchDevice">
            <wsdl:input message="tns:SwitchDeviceRequest" name="SwitchDeviceRequest"> 
            </wsdl:input>
            <wsdl:output message="tns:SwitchDeviceAsyncResponse" name="SwitchDeviceAsyncResponse">
            </wsdl:output>      
        </wsdl:operation>
        <wsdl:operation name="GetSwitchDeviceResponse">
            <wsdl:input message="tns:SwitchDeviceAsyncRequest" name="SwitchDeviceAsyncRequest">
            </wsdl:input>
            <wsdl:output message="tns:SwitchDeviceResponse" name="SwitchDeviceResponse">
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetStatus">
            <wsdl:input message="tns:GetStatusRequest" name="GetStatusRequest">
            </wsdl:input>
            <wsdl:output message="tns:GetStatusAsyncResponse" name="GetStatusAsyncResponse">
            </wsdl:output>
        </wsdl:operation>       
        <wsdl:operation name="GetGetStatusResponse">
            <wsdl:input message="tns:GetStatusAsyncRequest" name="GetStatusAsyncRequest">
            </wsdl:input>
            <wsdl:output message="tns:GetStatusResponse" name="GetStatusResponse">
            </wsdl:output>
        </wsdl:operation>
                
    </wsdl:portType>
    
    <wsdl:binding name="ControllableLoadAdHocManagementPortSoap11" type="tns:ControllableLoadAdHocManagementPort">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        
        <wsdl:operation name="FindAllDevices">
            <soap:operation soapAction="" />
            <wsdl:input name="FindAllDevicesRequest">
                <soap:header message="tns:FindAllDevicesHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:FindAllDevicesHeader" part="UserName" use="literal" />
                <soap:header message="tns:FindAllDevicesHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="FindAllDevicesResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="SwitchDevice">
            <soap:operation soapAction="" />
            <wsdl:input name="SwitchDeviceRequest">
                <soap:header message="tns:SwitchDeviceHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:SwitchDeviceHeader" part="UserName" use="literal" />
                <soap:header message="tns:SwitchDeviceHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SwitchDeviceAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetSwitchDeviceResponse">
            <soap:operation soapAction="" />
            <wsdl:input name="SwitchDeviceAsyncRequest">
                <soap:header message="tns:SwitchDeviceAsyncHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:SwitchDeviceAsyncHeader" part="UserName" use="literal" />
                <soap:header message="tns:SwitchDeviceAsyncHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SwitchDeviceResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetStatus">
            <soap:operation soapAction="" />
            <wsdl:input name="GetStatusRequest">
                <soap:header message="tns:GetStatusHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:GetStatusHeader" part="UserName" use="literal" />
                <soap:header message="tns:GetStatusHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="GetStatusAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetGetStatusResponse">
            <soap:operation soapAction="" />
            <wsdl:input name="GetStatusAsyncRequest">
                <soap:header message="tns:GetStatusAsyncHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:GetStatusAsyncHeader" part="UserName" use="literal" />
                <soap:header message="tns:GetStatusAsyncHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="GetStatusResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="ControllableLoadAdHocManagementPortService">
        <wsdl:port binding="tns:ControllableLoadAdHocManagementPortSoap11" name="ControllableLoadAdHocManagementPortSoap11">
            <soap:address
                location="http://localhost:8080/osgp-adapter-ws-controllableload/controllableload/adHocManagementService/" />
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>